.form-container {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-bottom: 24px;
}

.container-lg {
    padding-bottom: 14px;
}

.logo {
    width: 130px;
    margin-inline: auto;
    margin-bottom: 18px;
}

.authentication-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.container-lg .authentication-box {
    margin-top: 22px;
    margin-bottom: 24px;
}

.authentication-box .btn-auth {
    display: flex;
    gap: 10px;
    border: 1px solid #cecece;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: #424242;
    transition: all ease-in-out 0.2s;
}

.authentication-box .btn-auth:hover {
    background-color: #eceaea;
}

.authentication-box img {
    width: 22px;
}

.authentication-box span {
    width: 100%;
    text-align: center;
    padding-right: 20px;
}

.paragraph-box {
    position: relative;
    border-top: 2px solid #cecece;
}

.paragraph-box p {
    width: 144px;
    right: calc(50% - 72px);
    font-size: 15px;
    position: absolute;
    text-align: center;
    color: #4b5563;
    font-weight: 500;
    background-color: #fff;
    margin-top: -13px;
    margin-bottom: 25px;
}

#ph-box-register {
    margin-top: 18px;
    margin-bottom: 20px;
}

#ph-box-register p {
    width: 36px;
    right: calc(50% - 18px);
}

.container-lg .inputs-container {
    margin-top: 15px;
}

.container-rg .inputs-container {
    margin-top: -14px;
}

.form-footer {
    margin-top: 25px;
}

.forget-password {
    margin-top: 5px;
}

.link-container {
    margin-top: 12px;
    font-size: 14px;
    color: #424242;
    text-align: center;
}

.container-rg .link-container  {
    margin-top: 15px;
}

.link-container a {
    align-self: self-end;
    font-size: 15px;
    font-weight: 600;
    color: #23529e;
    transition: all ease-in-out 0.2s;
}

.link-container a:hover {
    text-decoration: underline;
}

.mg-btm {
    background-color: #F3F4F6;
    height: 30px;
}

.error-message {
    font-size: 14px;
    color: #d84343;
}

.label-center {
    text-align: center;
    font-size: 18px;
}

.btn-form {
    width: 100%;
    height: 44px;
    margin-top: 10px;
}


@media (max-width: 300px) {

    .authentication-box .btn-auth {
        font-size: 14px;
    }

    .paragraph-box p {
        width: 130px;
        right: calc(50% - 65px);
        font-size: 14px;
    }

}