/* Responsivity */

@media(max-width: 1024px) {

    .navbar-collapse {
        display: flex !important;
    }

    .search-results {
        text-align: center;
    }

    #cards-container {
        justify-content: center;
    }

}

@media(max-width: 768px) {

    #navbar-container #navbar {
        padding-inline: 20px;
    }

    #logo {
        width: 90px;
    }

    .accordion-box {
        width: 160px;
    }

    #collapseOne {
        box-shadow: none;
    }

    .nav-item .nav-link {
        font-size: 16px;
    }

    #collapseOne .nav-link {
        font-size: 15px;
    }

    #main-row  {
        padding-inline: 0;
    }

}

@media(max-width: 700px) {

    #logo {
        margin-left: 5px;
    }

    #menu-button {
        display: flex;
    }

    #menu {
        min-width: 250px;
        width: max-content;
        max-width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        padding: 0;
        background-color: #f8f8f8;
        box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 4px;
        z-index: 2;
        font-weight: bold;
        border: 1px solid #f8f8f8;
        border-top: 0;
    }

    #profile-photo-nav {
        display: none;
    }

    .profile-box .profile-photo {
        width: 44px;
        height: 44px;
        background-color: #EEF2FF;
        border-color: #EEF2FF;
    }

    .hidden-option {
        display: block;
    }

    .nav-item, .hidden-option {
        width: 100%;
    }

    .nav-item .nav-link, 
    #collapseOne .nav-link, 
    .hidden-option .nav-link {
        display:block;
        color: #2e3236 !important;
        text-align: center;
        border-bottom: 1px solid #fff !important;
        padding-block: 10px;
        border-bottom: 0;
    }

    .hidden-option.profile-box .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px;
        background-color: #fff;
        border-bottom: 1px solid #eee !important;
        padding-right: 12px;
    }

    .hidden-option i {
        color: #595e63;
    }

    .nav-item:last-child .nav-link {
        border-bottom-left-radius: 4px;
        padding-bottom: 10px;
        border-bottom: 0 !important;
    }

    .nav-item .nav-link:hover, 
    .active .nav-link,  
    .hidden-option .nav-link:hover,
    .nav-item .nav-link:focus:active {
        color: #fff !important;
        background-color: #53718a !important;
    }

    .hidden-option.profile-box .nav-link:hover {
        color: #2e3236 !important;
        background-color: #fff !important;
    }

    #collapseOne .nav-link:hover,
    #collapseOne .active .nav-link {
        color: #fff !important;
        background-color: #8b8a8a !important;
    }

    .accordion-box {
        width: 100%;
    }

    #accordion-my-events {
        position: relative !important;
        top: 0;
    }

    #collapseOne {
        background-color: transparent;
    }

    .accordion-button {
        height: max-content;
        border-bottom: 1px solid #2e3236;
    }

    #collapseOne .nav-item:last-child .nav-link {
        border-top: 0;
    }

    #search-container h1 {
        font-size: 25px;
    }

}

@media(max-width: 570px) {
    
    #menu {
        width: 100%;
        border-bottom-right-radius: 4px;
    }

    .hidden-option.profile-box .nav-link {
        margin-top: -1px;
    }

    #show-info-container {
        margin-bottom: 25px;
        padding-bottom: 20px;
        border-bottom: 2px solid #eee;
    }

    #events-container, 
    #event-create-container {
        padding: 25px;
    }

    #events-container .title, 
    #events-container .subtitle,
    .pagination-container p  {
        text-align: center;
    }

    #events-container:last-child {
        padding-bottom: 12px;
    }

    #events-container .subtitle {
        font-size: 15px;
        margin-bottom: 5px;
    }

    #event-create-container h1,
    #event-create-container .subtitle {
        text-align: center;
    }

    #event-create-container form {
        border: 0;
        padding: 0;
    }

    .inputs-group,  
    #date-time-box,
    #btn-select-container {
        flex-direction: column;
    }

    .inputs-group, #date-time-box {
        gap: 25px;
    }

    .error-sm {
        display: block;
    }

    .error-md {
        display: none;
    }

    .form-group, .inputs-box {
        width: 100%;
    }

    #img-box {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .selects-group {
        width: 100%;
        gap: 70px;
        justify-content: flex-start;
        padding: 10px 12px;
        border: 1px solid #92a8d8;
        border-radius: 6px;
    }

    .container-btn {
        margin-top: 25px;
    }

}

@media(max-width: 425px) {

    #navbar-container #navbar {
        padding-inline: 15px;
    }

    #search-container {
        padding-inline: 30px;
    }

    .dashboard-events {
        margin-top: 12px;
        margin-bottom: 0;
    }

    .dashboard-events .title-photo-box img {
        width: 32px;
        margin-right: 2px;
    }

    .dashboard-events .txt-button {
        display: none;
    } 

    .dashboard-events th:first-child {
        width: 70%;
    }

    .dashboard-events th:last-child {
        width: 30%;
    } 

    .dashboard-events .btn-box {
        gap: 7px;
    } 

    .dashboard-events .btn-box .btn {
        min-width: 34px;
    }

    .btn-cancel-participation {
        font-size: 14px;
    }

    .dashboard-events .inform-box {
        font-size: 15px;
    }

}


@media(max-width: 350px) {

    .dashboard-events .card-title  {
        font-size: 24px;
    }

    .selects-group {
        flex-direction: column;
        gap: 10px;
    }

    .dashboard-events .inform-box {
        flex-direction: column;
        gap: 0;
    }

    .dashboard-events .inform-box .btn {
        align-self: flex-end;
    }

    #search-container {
        padding-inline: 25px;
    }

    #search-container form {
        max-width: 300px;
    }

    .link-profile {
        gap: 8px;
    }

}

@media(max-width: 320px) {

    .dashboard-events .card-title  {
        font-size: 20px;
    }

}


@media(max-width: 280px) {

    .hidden-option.profile-box .nav-link {
        padding-left: 8px;
        padding-right: 10px;
    }

    #event-create-container {
        width: 250px;
        padding-inline: 8px;
    }

    #search-container h1 {
        font-size: 16px;
    }
    
    #events-container .card {
        min-width: 254px;
    }

    .dashboard-events .card-title  {
        font-size: 18px;
    }

    .dashboard-events th {
        font-size: 15px;
    }

    .dashboard-events tr {
        font-size: 14px;
    }

}